@using ESOL_EDU.Helper
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/web/images/apple-touch-icon.png" />
    <link href="@Url.Content("~/Content/Kendo/kendo.common.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Kendo/kendo.silver.min.css")" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/Content/css/bootstrapValidator.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/components.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/buttons.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/custom.css" />
</head>
<body class="body">
    <div class="preloader" style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 100000; backface-visibility: hidden; background: #ffffff;">
        <div class="preloader_img" style="width: 200px; height: 200px; position: absolute; left: 48%; top: 48%; background-position: center; z-index: 999999">
            <img src="~/Images/loader.gif" style="width: 40px;" alt="loading...">
        </div>
    </div>
    <div class="bg-dark" id="wrap">
        <div id="top">
            <nav class="navbar navbar-static-top">
                <div class="container-fluid">
                    <a class="navbar-brand text-xs-center" href="@Url.Action("Index", "Home", new { Area = "" })">
                        <h4 class="text-white">
                            <img src="~/web/images/apple-touch-icon.png" class="admin_img" alt="logo"><span style="color: #fff;margin-left: 5px;">@AppHelper.RoleName</span>
                        </h4>
                    </a>
                    <div class="menu">
                        <span class="toggle-left" id="menu-toggle">
                            <i class="fa fa-bars text-white"></i>
                        </span>
                    </div>
                    <div class="text-xs-right xs_menu">
                        <button class="navbar-toggler hidden-xs-up" type="button" data-toggle="collapse"
                                data-target="#nav-content">
                            ☰

                        </button>
                    </div>
                    <div class="topnav dropdown-menu-right float-xs-right">
                        <div class="btn-group">
                            <div class="user-settings no-bg">
                                <div class="admire_admin">
                                    @if (AppHelper.RoleId == 1)
                                    {
                                        <span style="float: left; margin-right: 5px;">
                                            <select name="TopShowroom" id="TopShowroom" style="width: 150px;" class="form-control form-control-sm"></select>
                                        </span>
                                    }
                                    else
                                    {
                                        <span style="border-right: 1px solid #fff; color: #fff; margin-right: 10px; padding-right: 9px;">@AppHelper.BranchName</span>
                                    }
                                    <a class="" href="@Url.Action("LogOff", "Account", new { Area = "" })"><i class="fa fa-sign-out"></i>Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="wrapper">
            <div id="left">
                <div class="media user-media bg-dark dker">
                    <div class="user-media-toggleHover">
                        <span class="fa fa-user"></span>
                    </div>
                    <div class="user-wrapper bg-dark">
                        <a class="user-link" href="@Url.Action("Index", "Home", new { Area = "" })">
                            <p class="text-white user-info">Welcome @AppHelper.Name</p>
                        </a>
                    </div>
                </div>
                <ul id="menu" class="bg-blue dker">
                    <li class="#">
                        <a href="@Url.Action("Index", "Home", new { Area = "" })">
                            <i class="fa fa-list"></i>
                            <span class="link-title">&nbsp;Module</span>
                        </a>
                    </li>
                    @{
                        Html.RenderAction("LoadMenu", "Home", new { Area = "" });
                    }
                </ul>
            </div>
            <div id="content" class="bg-container">
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/js/offline.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/components.js"></script>
    <script src="~/Scripts/Kendo/kendo.web.min.js"></script>
    <script src="~/Scripts/Kendo/kendo.aspnetmvc.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/custom.js"></script>
    <script type="text/javascript" src="~/Scripts/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/validation.js"></script>
    <script>
        $(document).ready(function () {
            var getShowroom = '/Home/GetShowroom';
            var urlgbr = '/Home/GetDefaultShowroom';
            var urlsbr = '/Home/SetDefaultShowroom';
            var urlrole = '/Home/GetRoleId';
            $.ajax({
                url: getShowroom,
                data: ""
            }).done(function (data) {
                $("#TopShowroom").append("<option value=''>Please select branch</option>");
                $.each(data, function (i, item) {
                    $("#TopShowroom").append('<option value=' + item["BranchId"] + '>' + item["BranchName"] + '</option>');
                });
                $.ajax({
                    url: urlgbr,
                    data: ""
                }).done(function (res) {
                    $("#TopShowroom").val(res);
                    $.ajax({
                        url: '/Home/GetRoleId',
                        data: ""
                    }).done(function (roleid) {

                    });
                });
            });
        });
        $("#TopShowroom").on('change', function () {
            var br = $("#TopShowroom").val();
            $.ajax({
                url: '/Home/SetDefaultShowroom',
                data: { id: br }
            }).done(function (data) {
                $("#TopShowroom").html(data);
                window.location.href = window.location.href;
            });

        });
        var isBlocked = false;
        window.addEventListener('online', function () {
            $("#dvNetMsg").html("");
        }, false);

        window.addEventListener('offline', function () {
            if (!isBlocked) {
                $("#dvNetMsg").html("<h2>Internet connection has been lost.Please check and reconnect.</h2>").addClass("alert alert-warning");
            }
        }, false);
        $(document).ready(function (e) {
            setTimeout(function () {
                $('#dvmessage').fadeOut('slow');
            }, 3000);
        });
    </script>
</body>
</html>
